h1 {
   font-size: 40px;
   text-align: center;
}

h1 > a {
   color: white;
   text-decoration: none;
   text-shadow:
      -1px 0px #074cc8,
      0px 1px #074cc8,
      1px 0px #074cc8,
      0px -1px #074cc8;
}
